@keyframes topBar {
    0% {top: 0px; transform: scale(1); transform-origin: 40% 40%;}
    100% {top: 0; transform: scale(1); transform-origin: 40% 40%;}
}
// Animations
//
.anim-elem {
     animation: anim-elem 0.3s both;
     animation-delay: 0.15s;
}

.anim-elem-delay {
    animation: anim-elem 0.3s both;
    animation-delay: 0.25s;
}

@keyframes anim-elem {
  0% { opacity: 0; transform: translate3d(0, 25px, 0); }
  100% { opacity: 1; transform: translate3d(0, 0, 0); }
}

.example-enter {
    opacity: 0.01;
    transition: all .5s ease-in-out;
}

.example-enter.example-enter-active {
    opacity: 1;
}

.example-leave {
    opacity: 1;
    transition: all .2s ease-in-out;
}

.example-leave.example-leave-active {
    opacity: 0.01;
}
