$grid-columns: 12;
$grid-max-width: 60em;

$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 40em)";

[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

%clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  
  &:after {
    clear: both;
  }
}

.wrapper {
  width: 95%;
  max-width: $grid-max-width;
  margin: 0 auto;
}

.wrapper,
.row {
  @extend %clearfix;
}

@for $i from 1 through $grid-columns {
  .column-#{$i} {
    width: 100% / 12 * $i;
  }
}
