* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body,
html {
    height: 100%;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    color: $textColor;
    background-color: $bodyColor;
    line-height: 1.5;
    font-family: $typeStack;
}

input {
    color: #fff;
    font-family: $typeStack;
}

input:-webkit-placeholder {
    color: #fff;
}
