$bodyColor: #689989;
$bodyColor: #4D96AB;
//:
$secondaryColor: #B5C7B7;
$monoColor: #FF9CB2;

$hoverColor: #A65959;
$selectedColor: #FFFB9F;

$linkColor: $selectedColor;

$textColor: #fff;
$subtitleColor: #fff;

$codeColor: #DCE7DC;

$typeStack: "ff-dagny-web-pro", Helvetica, sans-serif;
