$bodyColor: #689989;
$secondaryColor: #B5C7B7;

$hoverColor: #A65959;
$selectedColor: #FFFB9F;

$textColor: #fff;
$subtitleColor: #fff;

$codeColor: #DCE7DC;

$typeStack: 'Avenir Next', Helvetica, sans-serif;
