@import 'vars';
@import 'reset';
@import 'grid';
@import 'animations';
@import 'mixins';

.button {
    background: none;
    color: #fff;
    font-family: $typeStack;
    font-size: .8em;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid rgba(255,255,255, .8);
    padding: 1em 1.5em;

    &:hover,
    &:focus {
        background: rgba(255,255,255, .2);
    }
}

.main-container {
    margin: 1em auto;
}

.banner {
    text-align: center;
}

.banner__image {
    background: url("../assets/img/logo@1x.png") no-repeat;
    width: 374px;
    height: 129px;
    font-size: 0/0;
    text-indent: -9999px;
    margin: 2em auto 1em;

    @include retina("../assets/img/logo@2x.png", 748px, 258px);
}

.banner__subtitle {
    color: $secondaryColor;
    font-size: 1.5em;
}

.main-navigation {
    .main-navigation--item {
        display: inline-block;
        margin-right: 1em;
    }
}

.container--wrapper {
    margin: auto;
}

// Filterable Component
.c-filterableList--search {
    transform: scale(1);
    transform-origin: 100% 100%;
    transition: transform .2s ease-in-out;

    &.fixed {
        box-shadow: 0 0 0 2px rgba(0,0,0,.2);
        position: fixed;
        top: 0;
        left: 0;
        background: #468872;
        animation-name: topBar;
        animation-duration: .1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
        z-index: 2;

        .c-query {
            font-size: 1.5em;
            margin: 0;
        }
    }

    .c-query {
        background: transparent;
        border: 2px solid rgba(255,255,255, .3);
        color: $selectedColor;
        font-size: 2.5em;
        width: 100%;
        outline: none;
        margin: 1em 0 1em 0;
        padding: .7em;

        @media #{$breakpoint-large} {
            font-size: 2.5em;
        }

        &::-webkit-input-placeholder { color: rgba(255, 255, 255, .6); }

        &:focus {
            border: 2px solid rgba(255,255,255, .6);
        }
    }
}

.c-filterableList code {
    padding: 0 .5em;
    color: $codeColor;

    @media all and (min-width: 40em) {
        font-size: 1.3em;
    }
}

.c-filterableList .c-filterableList__number {
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(255,255,255, .7);
}

// Filterable Component Items
.item {
	animation-name: active;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;

    border-bottom: 1px dashed $secondaryColor;
}

.item__title {
    color: $subtitleColor;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 1em;
    transition: all .1s ease-in-out;

    @media #{$breakpoint-large} {
        font-size: 1.3em;
    }

    &.is-open + .item__instructions {
        max-height: 40em;
        top: -1em;
        opacity: 1;
    }

    &:hover,
    &.is-open {
        padding-left: 1em;
        color: $selectedColor;
    }

    &.is-open {
        border-left: 2px solid;
    }
}

.item__instructions {
    max-height: 1px;
    opacity: 0;
    top: 0;
    left: 1em;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out 0s;

    @media all and (min-width: 40em) {
        font-size: 1.2em;
    }
}

.item__button {
    margin: 0 1em 1em 0;
}

// Sidebar

.sidebar--title {
    color: $selectedColor;
    font-size: 1em;
    text-transform: uppercase;

    + p {
        margin-bottom: 2.5em;
    }
}

.footer {
    background: rgba(0,0,0, .8);
}
