@import 'vars';
@import 'reset';
@import 'grid';
@import 'animations';
@import 'mixins';

.section-title {
    font-size: 2em;
    margin-top: .35em;
}

.section-copy {
    font-size: 1.2em;
}

.button {
    background: rgba(255,255,255,.1);
    color: #fff;
    font-family: $typeStack;
    font-size: .8em;
    cursor: pointer;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid rgba(255,255,255, .8);
    padding: 1em 1.5em;

    &:hover,
    &:focus {
        background: rgba(255,255,255, .2);
    }
}

.main-container {
    margin: 1em 0 auto;
}

.banner {
    text-align: center;
}

.banner__image {
    background: none;
    height: 129px;
    position: relative;
    margin: 2em auto 1em;

    @media #{$breakpoint-medium} {
        background: url("../assets/img/logo@1x.png") no-repeat;
        width: 610px;
        @include retina("../assets/img/logo@2x.png", 138px, 118px);
    }

    @media #{$breakpoint-large} {
        width: 700px;
    }

    h1 {
        margin-bottom: 1em;
        font-weight: 400;
        color: #fff;
        position: relative;
        top: -.3em;
        font-size: 4em;
        letter-spacing: -3px;
        text-transform: lowercase;

        @media #{$breakpoint-medium} {
            margin: 0 0 1em 1em;
        }

        .icon-github {
            position: relative;
            top: 10px;

            path {
                fill: $monoColor;
            }
        }
    }
}

.banner__subtitle {
    font-size: 1.3em;
    position: absolute;
    text-align: left;
    line-height: 1.2;
    top: 96px;
    color: #fff;
    left: 1.1em;

    @media #{$breakpoint-large} {
        left: 11.9em;
        top: 65px;
    }
}

.main-navigation {
    .main-navigation__item {
        display: inline-block;
        margin-right: 1em;
    }

    .main-navigation__item a {
        text-transform: none;
        border-bottom: none;
        font-weight: 600;
    }
}

.c-filterableList {
    position: relative;

    .c-filterableList__wrapper {
        margin-top: 9em;

        @media #{$breakpoint-medium} { margin-top: 11em; }
        @media #{$breakpoint-large} { margin-top: 13em; }
    }

    // Fixed to the top state
    &.fixed {
        .c-filterableList__help-label {
            display: none;
        }

        .c-filterableList__search {
            background: $bodyColor;
            position: fixed;
            top: 0;
            z-index: 2;

            .c-query {
                background: $bodyColor;
                font-size: 1.5em;
                margin: 0;
            }
        }

        .icon {
            top: 2.3em;
        }
    }
}

// Filterable Component
.c-filterableList__search {
    position: absolute;
    transition: all .6s ease-in-out;

    .c-query {
        background: transparent;
        border: 2px solid rgba(255,255,255, .3);
        color: $selectedColor;
        font-size: 1.5em;
        outline: none;
        letter-spacing: -1px;
        margin: 1em 0;
        padding: .7em;
        transition: font-size .3s ease-in-out;
        width: 100%;

        @media #{$breakpoint-large} { font-size: 2em; }

        &::-webkit-input-placeholder { color: rgba(255, 255, 255, .6); }
        &::-moz-placeholder { color: rgba(255, 255, 255, .6); }
        &:focus { border: 2px solid rgba(255,255,255, .6); }

        &:focus + span .icon {
            opacity: 1;
        }
    }

    .c-filterableList__help-label {
        position: relative;
        top: -1.5em;
        opacity: .6;
    }

    .icon {
        cursor: pointer;
        position: absolute;
        opacity: .4;
        top: 3.5em;
        right: 3em;
        transition: all .2s ease-in-out;

        @media #{$breakpoint-large} { top: 5em; }
    }

    .icon svg {
        width: 2em;
        height: 2em;
    }
}

.c-filterableList code {
    color: $codeColor;
    padding: 0 .5em;

    @media all and (min-width: 40em) { font-size: 1.3em; }
}

.c-filterableList .c-filterableList__number {
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, .7);
}

// Filterable Component Items
.item {
	animation-name: active;
	animation-duration: .2s;
	animation-timing-function: ease-in-out;
    border-bottom: 1px dashed $secondaryColor;
}

.item__title {
    color: $subtitleColor;
    cursor: pointer;
    font-weight: 600;
    margin-bottom: 1em;
    position: relative;
    transition: all .1s ease-in-out;

    .icon-arrow {
        opacity: .4;
        position: absolute;
        right: 0;
        transition: all .15s ease-in-out;

        svg {height: 1.2em;}
    }

    @media #{$breakpoint-large} {
        font-size: 1.3em;
    }

    &.is-open .icon-arrow {
        opacity: 1;
        transform: rotate(180deg);
        transform-origin: 50% 40%;
    }

    &.is-open + .item__instructions {
        max-height: 40em;
        opacity: 1;
        top: -1em;
    }

    &:hover,
    &.is-open {
        padding-left: 1em;
        color: $selectedColor;
    }

    &.is-open {
        border-left: 2px solid;
    }
}

.item__instructions {
    max-height: 1px;
    opacity: 0;
    top: 0;
    left: 1em;
    position: relative;
    overflow: hidden;
    transition: all .3s ease-in-out 0s;

    @media all and (min-width: 40em) {
        font-size: 1.2em;
    }
}

.item__button {
    margin: 0 1em 1em 0;
}

// Sidebar

.sidebar {
    float: none;
    clear: both;
    width: 100%;

    @media #{$breakpoint-medium} {
        clear: none;
        float: left;
        width: 25%;
    }
}

.sidebar--title {
    color: $selectedColor;
    font-size: 1em;
    text-transform: uppercase;

    + p {
        margin-bottom: 2.5em;
    }
}

.sidebar .icon-github {
  display: flex;
  margin-bottom: 5em;
  justify-content: center;
}

.sidebar .icon-github svg {
    height: 5em;
    width: 5em;
}

.footer {
    background: rgba(0,0,0, .8);
    min-height: 16em;

    a {
        border-bottom: none;
    }
}

// States

.error-state {
    font-size: 2em;
    padding: 2em;
    text-align: center;
}
